:root {
  --fgrnd: #080808;
  --bkgrnd: #2fabc1;
}

body {
  font-family: "Arial", "Helvetica", "sans-serif";
  color: var(--fgrnd);
  background-color: var(--bkgrnd);
  margin: 0px;
  padding: 0px;
}

.container {
  position: relative;
  top: 15vh;
}

.section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 5vw 2vh;
}

h1 {
  display: block;
  margin-top: -100px;
  padding-top: 100px;
  font-size: xx-large;
  margin-left: 10vw;
}

@media (max-width: 768px) {
  h1 {
    margin-left: 0;
    text-align: center;
  }
}

/*************************************************
Nav BaR
*************************************************/

.navbar {
  background-color: var(--fgrnd);
  color: var(--bkgrnd);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navlink {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 5px;
}

.navlink:visited {
  color: var(--bkgrnd);
}

.navlink:visited:hover {
  color: var(--fgrnd);
}

.navbar .logo {
  padding: 0 10px;
  margin: 0;
  align-self: center;
  font-size: 30px;
  font-weight: bolder;
  font-family: "lucida console", monospace;
}

.navbar .menu {
  padding: 0;
  margin: 0;
}

.navbar .hamburger {
  display: none;
}

@media (max-width: 768px) {
  .navbar .menu {
    display: none;
    position: absolute;
    width: 100%;
    right: 0;
    left: 0;
    text-align: center;
  }

  .navbar .menu .navli {
    display: none;
  }

  .navbar .menu .navli:hover {
    background-color: var(--bkgrnd);
    transition: 0.5s ease;
  }

  .navbar .hamburger {
    display: block;
    color: var(--bkgrnd);
    background-color: var(--fgrnd);
    border: none;
    font-size: 24px;
    border: 1px solid orange;
    margin-right: 2vw;
  }
}

.navbar .menu {
  display: flex;
  font-size: 16px;
  margin-right: 2vw;
  height: 100%;
}

.navbar .navlinks {
  margin: 0;
}

.navbar .navli {
  display: inline-block;
  vertical-align: middle;
  background-color: var(--fgrnd);
}

.navbar .navli:hover {
  background-color: var(--bkgrnd);
  color: var(--fgrnd);
}

.navbar .navli a {
  text-decoration: none;
  font-size: 20pt;
}

/*************************************************
about me section
*************************************************/

#aboutsec {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

#aboutsec .aboutcontent {
  display: flex;
  justify-content: start;
  flex-flow: row nowrap;
  max-width: 1200px;
  align-self: center;
}

.profilepic {
  height: auto;
  max-width: 250px;
  border-radius: 10px;
  align-self: center;
  flex-shrink: 1;
}

#aboutsec .aboutme {
  max-width: 70%;
  min-width: 100px;
  margin-left: 5vw;
  flex-shrink: 2;
}

@media (max-width: 768px) {
  #aboutsec .aboutcontent {
    flex-direction: column-reverse;
  }
  #aboutsec .aboutme {
    max-width: 90%;
    align-self: center;
    margin-left: 0;
  }
}

/*************************************************
resume section
*************************************************/

.mainarticle {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.subarticle {
  margin: 0 5vw;
}

@media (max-width: 604px) {
  .subarticle {
    margin: 5vw 5vw;
  }
}

.education h2 {
  text-align: center;
}

.education h2 {
  width: 100%;
}

.education .school * {
  margin: 0;
  padding: 0;
  text-align: left;
}

.skills {
  justify-content: space-around;
  width: 80%;
  margin: 50px auto;
}

@media (min-width: 768px) {
  .skills {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1655px) {
  .skills {
    max-width: 975px;
  }
}

.skills .skillarticle {
  display: block;
  background-color: var(--fgrnd);
  color: var(--bkgrnd);
  border-radius: 10px;
  width: 333px;
  min-width: 220px;
  padding: 1vw;
  margin: 20px;
  text-align: center;
}

.skills .skillarticle .skilllist {
  text-align: left;
}

.workexperience h2 {
  width: 100%;
  text-align: center;
}

@media (max-width: 604px) {
  .workexperience .job {
    padding: 0 6vw;
  }
}
.workexperience .job * {
  margin: 0;
  padding: 0;
}

/*************************************************
Project Section
*************************************************/

.projectdesc {
  background-color: var(--fgrnd);
  color: var(--bkgrnd);
  padding: 2vw;
  margin: 10px 0;
  border-radius: 10px;
  width: 80%;
  max-width: 1000px;
  align-self: center;
}

@media (max-width: 768px) {
  .projectdesc {
    width: 90%;
  }
}

.projlink a {
  text-decoration: none;
  color: white;
}

.projlink a:hover {
  color: var(--bkgrnd);
  text-decoration: underline;
}

.projectdesc p a {
  text-decoration: none;
  color: white;
}

.projectdesc p a:hover {
  color: var(--bkgrnd);
  text-decoration: underline;
}

.last {
  margin-bottom: 300px;
}
