:root {
  --black: #080808;
  --blue: #2fabc1;
}

body {
  font-family: 'Arial', 'Helvetica','sans-serif';
  color: var(--black);
  background-color: var(--blue);
  margin: 0px;
  padding: 0px;
}

.navbar {
  background-color: var(--black);
  color: var(--blue);
  position: fixed;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar .logo {
  border: 1px green solid;
  padding: 0 10px;
  margin: auto 0px;
  font-size: 30px;
  font-weight: bolder;
}

.navbar .menu {
  display: flex;
  gap: 1em;
  font-size: 16px;
  margin-right: 2vw;
}

.navbar .navli {
  display: inline-block;
  vertical-align: center;
  padding: 10px 5px;
}

.navbar .navli:hover {
  background-color: var(--blue);
  color: var(--black)
}

.navbar .navli a {
  text-decoration: none;
  /* border: 1px red solid; */
}